.Title{
    background-color: #38c9cb;
    text-align: center;
    font-size: 48px;
    color: white;
}

body{
    background-color: #d4fcfc;
}

.GlobalDiv{
    display: flex;
    justify-content: center;
}

.listDiv{
    background-color: #f1fbfb;
    border-style: solid;
    border-color: #38c9cb;
    border-radius: 10px;
    margin-bottom: 3px;
    padding: 5px;
}

.CreateButton{
    background-color: #aefebd;
}

.DeleteButton{
    background-color: #f8494b;
}

.deleteListButton{
    background-color: #f8494b;
}

.EditButton{
    background-color: #e9d290;
}

.MinimunLength{
    color: red;
    text-align: center;
    margin-top: 0;
    margin-bottom: 4px;
}

.updateButton{
    background-color: #7fd3f7;
}

#Listas{
    margin-bottom: 0;
    font-size: 24px;
}

#listForms{
    margin-bottom: 5px;
}

#TitleText{
    font-size: 18px;
    font-style: italic;
    text-decoration: underline;
    font-weight: bold;
    color: #5086c1;
}